:host {
  padding-left: 20px;
  padding-right: 20px;
}

.event-img {
  height: 100px;
}

a {
  cursor: pointer;
  color: orange;
}
a:hover {
  color: orangered;
}

button.btn-default {
  background-color: #485563;
  color: #fff !important;
}
button.btn-default:hover {
  background-color: #35373a;
}
button.btn-default.active {
  background-color: #35373a;
  outline-color: orangered;
}
